body {
	overflow: hidden;
	position: relative;
	background: #009ddb;
	h1 {
		position: relative;
		z-index: 10;
		text-align: center;
		color: #fff;
		font-size: 100px;
		padding: 200px 0 0;
		line-height: 1;
	}
	.job {
		position: relative;
		z-index: 10;
		text-align: center;
		font-size: 20px;
		color: #fff;
		padding-bottom: 100px;
	}
}

.sky {
	.layer {
		position: absolute;
		min-height: 600px;
	}
	.layer:nth-child(1) {
		top: 50px;
		.cloud {
			animation: cloud 150s 0.1s infinite linear;
			-webkit-animation: cloud 150s 0.1s infinite linear;
			-moz-animation: cloud 150s 0.1s infinite linear;
			-ms-animation: cloud 150s 0.1s infinite linear;
			background: url(../../images/common/cloud-1.png) repeat-x;
			height: 104px;
		}
	}
	.layer:nth-child(2) {
		top: 100px;
		.cloud {
			animation: cloud 100s 0.1s infinite linear;
			-webkit-animation: cloud 100s 0.1s infinite linear;
			-moz-animation: cloud 100s 0.1s infinite linear;
			-ms-animation: cloud 100s 0.1s infinite linear;
			background: url(../../images/common/cloud-2.png) repeat-x;
			height: 171px;
		}
	}
	.layer:nth-child(3) {
		top: 160px;
		.cloud {
			animation: cloud 50s 0.1s infinite linear;
			-webkit-animation: cloud 50s 0.1s infinite linear;
			-moz-animation: cloud 50s 0.1s infinite linear;
			-ms-animation: cloud 50s 0.1s infinite linear;
			background: url(../../images/common/cloud-3.png) repeat-x;
			height: 190px;
		}
	}
}

.sea {
	position: relative;
	.bote {
		margin-top: -65px;
		text-align: center;
		-webkit-animation: wave 4.88889s 0.1s infinite linear;
		-moz-animation: wave 4.88889s 0.1s infinite linear;
		animation: wave 4.88889s 0.1s infinite linear;
	}
	.layer {
		position: absolute;
		min-height: 600px;
	}
	.wave {
		position: absolute;
		top: -7px;
		height: 7px;
		min-width: 100%;
	}
	.layer:nth-child(1) {
		margin-top: 0;
		background: #3685b4;
		left: -20px;
		
		-webkit-animation: wave 5.77778s 0.1s infinite linear;
		-moz-animation: wave 5.77778s 0.1s infinite linear;
		animation: wave 5.77778s 0.1s infinite linear;
		
		.wave {
			background: url(../../images/common/wave-1.png) repeat-x;
		}
	}
	.layer:nth-child(2) {
		margin-top: 20px;
		background: #347da9;
		left: -15px;
		
		-webkit-animation: wave 5.33333s 0.1s infinite linear;
		-moz-animation: wave 5.33333s 0.1s infinite linear;
		animation: wave 5.33333s 0.1s infinite linear;
		
		.wave {
			background: url(../../images/common/wave-2.png) repeat-x;
		}
	}
	.layer:nth-child(3) {
		margin-top: 40px;
		background: #30759e;
		left: -10px;
		
		-webkit-animation: wave 4.88889s 0.1s infinite linear;
		-moz-animation: wave 4.88889s 0.1s infinite linear;
		animation: wave 4.88889s 0.1s infinite linear;
		
		.wave {
			background: url(../../images/common/wave-3.png) repeat-x;
		}
	}
	.layer:nth-child(4) {
		margin-top: 60px;
		background: #2b6c93;
		left: -8px;
		
		-webkit-animation: wave 4.44444s 0.1s infinite linear;
		-moz-animation: wave 4.44444s 0.1s infinite linear;
		animation: wave 4.44444s 0.1s infinite linear;
		
		.wave {
			background: url(../../images/common/wave-4.png) repeat-x;
		}
	}
	.layer:nth-child(5) {
		margin-top: 80px;
		background: #266387;
		left: -13px;
		
		-webkit-animation: wave 4s 0.1s infinite linear;
		-moz-animation: wave 4s 0.1s infinite linear;
		animation: wave 4s 0.1s infinite linear;
		
		.wave {
			background: url(../../images/common/wave-5.png) repeat-x;
		}
	}
}